@model FA2021AnimeDashboard.Pages.Animestuff.partials._characterModel
@{
}

<link rel="stylesheet" href="~/css/Quiz.css" />
<div class="characterCard" id=@Model.toShow.name>
   <h1>@Model.toShow.name</h1> 
   <img src =@Model.toShow.image_url/>
</div>
