main {
    align-items: center;
}

h2 {
    text-align: center;
    color: white;
}

p {
    color: black;
    font-size: 12pt;
}

img{
    height: 400px;
    width: fit-content;
    margin: auto;
}

.btn-primary{
    background-color: darkblue;
}

.btn-info{
    background-color: #343a40;
    color: white;
    border: none;
}

.btn-info:hover{
    background-color: white;
    color: black;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
}

.flex-item {
    width: 45%;
    height: fit-content;
    justify-content: space-evenly;
}

.quiz {
    min-width: 400px;
    max-width: 800px;
    margin: auto;
    justify-content: center;
    text-align: center;
}


label {
    margin: auto;
    padding: 10px;
}

.setup {
    height: auto;
    width: 50%;
    padding: 10px;
    max-width: 800px;
    min-width: 400px;
    margin: auto;
}

textarea {
    height: 200px;
    max-width: 100%;
    min-width: 100%
}

input[type=text], select, textarea {
    border: 2px solid gray;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}

label {
    width: 100%;
    color: white;
}

.req {
    color: #0173a0;
}

.characterCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-height: 80vh;
    margin: auto;
    max-width: 400px;
}

h1{
    text-align: center;
    color: white;
}



