main {
    align-items: center;
}

h2 {
    text-align: center;
}

p {
    color: black;
    font-size: 12pt;
}

.btn-primary{
    background-color: darkblue;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    background-color: teal;
}

.flex-item {
    width: 45%;
    height: fit-content;
    background-color: white;
    border: 3px solid teal;
    justify-content: space-evenly;
    border-radius: 15px;
}

.quiz {
    min-width: 400px;
    max-width: 800px;
    background-color: white;
    margin: auto;
}


label {
    margin: auto;
    padding: 10px;
}

.setup {
    height: auto;
    background-color: white;
    width: 50%;
    padding: 10px;
    max-width: 800px;
    min-width: 400px;
    border-radius: 5px;
    border:solid;
    border-color:black;
    margin: auto;
}

textarea {
    height: 200px;
    max-width: 100%;
    min-width: 100%
}

input[type=text], select, textarea {
    border: 2px solid gray;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}

label {
    width: 100%;
}

.req {
    color: #0173a0;
}

