@page "{Anime}/{AnimeId:int}"
@model FA2021AnimeDashboard.Pages.Animestuff.Details.NewsDetailsModel
@{
}
<div class="container text-center bg-secondary w-50">
    @if(Model.response.articles == null)
            {
                <p class="text-light">No articles were found for this Anime.</p>
            }
    <a class="text-light" asp-page="/Animestuff/AnimeDetails" asp-route-Anime="@Model.Anime">Go back to details</a>
    @foreach(article article in Model.response.articles)
            {
                <p>@article.title</p>
            }
</div>
