@page

@model FA2021AnimeDashboard.Pages.Animestuff.AnimeModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/Anime.css" defer />
<!-- Search input and pick the information type they'd like to view, then pass that to the anime partial view -->
<div class="container text-center bg-secondary w-50 pb-2" id="search">
    <h2 class="text-light">Search for your favorite anime!</h2>
    <input id="anime" type="text" />
    <button class="btn btn-primary" type="submit" onclick="submitAnime();">Search</button>
</div>

<script>
    function submitAnime() {
        var Anime = document.getElementById("anime").value;
        if (Anime.length >= 3) {
            window.location.href = "/Animestuff/searchResults/" + Anime;
        }
        else {
            const target = document.getElementById(`search`);
            const bad = document.getElementById(`message`);
            if (bad) {
                document.removeChild(bad);
            }
            const mes = document.createElement(`div`);
            mes.textContent = `Your search must be at least 3 characters long!`;
            mes.style.color = `white`;
            mes.setAttribute(`id`, `message`);
            target.appendChild(mes);
        }
    }
</script>
