@page
@model FA2021AnimeDashboard.Pages.Animestuff.GenreInfoModel
@{
}


<script defer src="~/js/ChartData.js"></script>
<div>
    <h1 id="genre"></h1>
    <form class="setup" id="setup">
        <select class="form-control" id="showChoice" disabled>
            <option class="quizOpt">Genre</option>
        </select>
        <button id="search" value="submit" class="btn btn-block btn-primary" disabled>Search</button>
    </form>
</div>
