@page
@model FA2021AnimeDashboard.Pages.QuizModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <script defer src="~/js/Quiz.js"></script>
    <link rel="stylesheet" href="~/css/Quiz.css" />
        <form class="setup" id="setup">
            <label for="show">
                What show would you like to quiz on?
                <input type="text" name="show" id="show" />
            </label>
            <button id="search" value="submit" class="btn btn-block btn-primary">Search</button>
            <br />
            <select class="form-control" id="showChoice" disabled>
                <option class="quizOpt">Search first</option>
            </select>
        </form>
        <div hidden class="quiz" id="quiz">
            <h2 id="question"></h2>
            <div class="flex-container" id="body">
                <img id="picture"/>
                    <button id="option1" class="btn btn-info btn-block btn-lg">Option 1</button>
                    <button id="option2" class="btn btn-info btn-block btn-lg">Option 2</button>
                    <button id="option3" class="btn btn-info btn-block btn-lg">Option 3</button>
                    <button id="option4" class="btn btn-info btn-block btn-lg">Option 4</button>
            </div>
        </div>
